
@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="mb-4">Clientes</h2>

<!--Error-->
<div class="alert alert-danger" data-bind="visible: error"><div data-bind="text: error"></div></div>

<!--Registro-->
<div class="card mx-auto mb-5">
    <div class="card-header">Registrar nuevo cliente</div>
    <div class="card-body">
        <form class="form-inline" data-bind="submit: addCliente">
            <div class="form-group col-lg-8 p-0" data-bind="with: nuevoCliente">
                <label class="d-none" for="inputNombre">Nombre</label>
                <input type="text" id="inputNombre" class="form-control w-100" placeholder="Nombre" required="required" autofocus="autofocus" data-bind="value:Nombre">
            </div>
            <div class="col-lg-1"></div>
            <button type="submit" class="btn btn-primary col-lg-3">Registrar</button>
        </form>
    </div>
</div>

<!--Tabla-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Listado de Clientes
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableCliente" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Nombre</th>
                        <th>Fecha de creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: clientes">
                    <tr>
                        <td><span data-bind="text: Id"></span></td>
                        <td><span data-bind="text: Nombre"></span></td>
                        <td><span data-bind="text: FechaCreacion"></span></td>
                        <td>
                            <a href="#" data-bind="click: $parent.popDeleteCliente">Eliminar</a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="#" data-bind="click: $parent.popActualizarCliente">Actualizar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal Eliminar-->
<div class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-labelledby="clienteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteModalLabel">Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" data-bind="text: mensajeEliminar"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bind="click: deleteCliente">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Actualizar-->
<div class="modal fade" id="clienteModalActualizar" tabindex="-1" role="dialog" aria-labelledby="clienteModalLabelActualizar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="form-inline" data-bind="submit: actualizarCliente">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clienteModalLabelActualizar">Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" data-bind="visible: errorActualizar"><div data-bind="text: errorActualizar"></div></div>
                    <div class="mb-3" data-bind="text: mensajeActualizar"></div>
                    <div class="form-group mb-4" data-bind="with: actualizaCliente">
                        <label class="d-none" for="inputNombreActualiza">Nombre</label>
                        <input type="text" id="inputNombreActualiza" class="form-control w-100" placeholder="Nombre" required="required" autofocus="autofocus" data-bind="value:Nombre">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@Scripts.Render("~/bundles/cliente")