
@{
    ViewBag.Title = "PlanesCoberturas";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="mb-4">Planes y coberturas</h2>

<!--Error-->
<div class="alert alert-danger" data-bind="visible: error"><div data-bind="text: error"></div></div>

<!--Registro-->
<div class="card mx-auto mb-5">
    <div class="card-header">Registrar nueva relacion de plan y cobertura</div>
    <div class="card-body">
        <form class="form-inline" data-bind="submit: addPlanCobertura">
            <div class="form-group col-lg-4 p-0 pr-1">
                <label for="inputPlan" class="d-none control-label">Cliente</label>
                <select class="form-control w-100" data-bind="options:planes, optionsText: 'Descripcion', value: nuevoPlanCobertura.Plan"></select>
            </div>
            <div class="form-group col-lg-4 p-0 pl-1">
                <label for="inputCobertura" class="d-none control-label">Cliente</label>
                <select class="form-control w-100" data-bind="options:coberturas, optionsText: 'Descripcion', value: nuevoPlanCobertura.Cobertura"></select>
            </div>
            <div class="col-lg-1"></div>
            <button type="submit" class="btn btn-primary col-lg-3">Registrar</button>
        </form>
    </div>
</div>

<!--Tabla-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Listado de Planes y coberturas
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTablePlanCobertura" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Plan</th>
                        <th>Cobertura</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: planCoberturas">
                    <tr>
                        <td><span data-bind="text: Cliente"></span></td>
                        <td><span data-bind="text: Plan"></span></td>
                        <td><span data-bind="text: Cobertura"></span></td>
                        <td>
                            <a href="#" data-bind="click: $parent.popDeletePlanCobertura">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="planCoberturaModal" tabindex="-1" role="dialog" aria-labelledby="planCoberturaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="planCoberturaModalLabel">Planes y coberturas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" data-bind="text: mensajeEliminar"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bind="click: deletePlanCobertura">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/planCobertura")